.banner {
  background-repeat: no-repeat fixed;
  background-size: cover;
  height: 400px;
  background-position: 0px -180px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-cocktail-btn {
  text-align: center;
}
